<body style="text-align: center; background;background: url(../images/ghost.jpg) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  <h2 style="font-family: Baskerville;font-style: italic;font-weight:bold; color:red;">Add a new spook</h2>

<form action="/phenomenas/newGhost" method="post">
  <label style="color:#adad85; font-weight: bold;font-size:18px;" for="">Name:</label>
  <input type="text" name="name">
<br>
  <label style="color:#adad85; font-weight: bold;font-size:18px;" for="">image:</label>
  <input type="text" name="imgURL">
<br>
  <label style="color:#adad85; font-weight: bold;font-size:18px;" for="">description:</label>
  <input type="text" name="description">
<br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="checkbox" id="defaultCheck1">
  <label style="color:#adad85; font-weight: bold;font-size:18px;" class="form-check-label" for="defaultCheck1">
  Did it attack you?</label>
<br>
  <button type="submit">Add to Lexicanum</button>
</form>
</body>