<h2>Add a new phenomenon</h2>

<form action="/newGhost" method="post">
  <label for="">name:</label>
  <input type="text" name="name">

  <label for="">image:</label>
  <input type="text" name="imageURL">

  <label for="">description:</label>
  <input type="text" name="description">

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
  Did it attack you?</label>

  <label for="">where did you spot it?</label>
  <input type="text" name="spottedAtPlace">
  
  <button type="submit">Add to Lexicanum</button>
</form>

<br>


{{!-- 
add a location search bar  --}}
<form action="/newGhost" method="post">
  Ghost: 
  {{!-- Will define a req.body.ghost --}}
  <select name="name">
    <option value="name">Description</option>
  </select>
  <br>
  Longitude: <input required type="number" step="any" name="lng"><br>
  Latitude: <input required type="number" step="any" name="lat"><br>
  <button>Add Sighting</button>
</form>

