<h2>Add a haunted place</h2>

<form action="/newPlace" method="post">
  <label for="">name:</label>
  <input type="text" name="name">

  <label for="">image:</label>
  <input type="text" name="imageURL">

  <label for="">description:</label>
  <input type="text" name="description">

  <button type="submit">Add to Lexicanum</button>
</form>