<div class="overview">
    {{#each phenomenas}} 
    <div class="container" style="text-align:center;">
    <a href='/phenomenas/{{this._id}}' style="color:#adad85; font-weight: bold;font-size:24px;">{{this.name}}</a>
       <img src="{{this.imgURL}}" alt="{{this.name}}" id="overview-img" style="border-radius: 70%;height:200px; width:200px;" >
    </div>
    {{/each}}
  </div>
  <div class="overview-btn">
      <button type="button" class="btn btn-dark btn-primary btn-lg" style="background-color:brown;"><a style="color: black;" href="/phenomenas/newGhost"> Add phenomenom to the Lexicanum</a></button>
  </div>

      