<h1>List of Ghosts</h1>
<div class="overview">
    {{#each phenomenas}} 
    <div class="container">
    <a href='/phenomenas/{{this._id}}'>{{this.name}}</a>
       <img src="{{this.imgURL}}" alt="{{this.name}}" id="overview-img">
    </div>
    {{/each}}
  </div>
  <div class="overview-btn">
      <button type="button" class="btn btn-dark btn-primary btn-lg" style="background-color:brown;"><a style="color: black;" href="/phenomenas/newGhost"> Add phenomenom to the Lexicanum</a></button>
  </div>

      