<div class="overview">
    {{#each places}} 
    <div class="container" style="text-align:center;margin-top:20px;">
    <a href='/places/{{this._id}}' style="color:#adad85; font-weight: bold;font-size:24px;">{{this.name}}</a>
       <img src="{{this.imgURL}}" alt="{{this.name}}" id="overview-img">
    </div>
    {{/each}}
  </div>
  <div class="overview-btn">
      <button type="button" class="btn btn-dark btn-primary btn-lg" style="background-color:brown;"><a style="color: black;" href="/places/newPlace"> Add haunted place to the Lexicanum</a></button>
  </div>