body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: grey;
  background: url(../images/ghost.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Baskerville;
  font-style: italic; 
  color:#adad85; 
  font-weight: bold;
  font-size:21px;
}
a {
  color: #00B7FF;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.overview {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;

}

.container {
  display: flex;
  flex-flow: column;
}

#overview-img {
  height: 250px;
  width: 400px;
}

.overview-btn {
  display: flex;
  justify-content: center;
  padding: 30px;
}

#loginbtn {
  display: flex;
  flex-wrap: row nowrap;
  justify-content: flex-end;
}
#map {
  height: 400px;
}

.ghostDetails {
  background: url(../images/ghost.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

