<h1>welcome to haunted</h1>
<form action="/login" method="POST">
  <div>
    <label for="user">Username:</label>
    <input type="text" name="user">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
