<h2>Add a new phenomenon</h2>

<form action="/newGhost" method="post">
  <label for="">name:</label>
  <input type="text" name="name">

  <label for="">image:</label>
  <input type="text" name="imageURL">

  <label for="">description:</label>
  <input type="text" name="description">

  <label for="">Did it attack you?</label>
  <input type="text" name="isDangerous">

  <label for="">where did you spot it?</label>
  <input type="text" name="spottedAtPlace">

  <button type="submit">Add to Lexicanum</button>
</form>
